pandas
pyarrow
requests
chinese_calendar
pyyaml
psycopg2-binary
apscheduler
tqdm
tenacity
phart
pytest
opensearch-py
sentence-transformers
opencc-python-reimplemented
akshare
curl_cffi
trafilatura
pymupdf
feedparser
tushare
